/amplitude
/aud
/baux
/clear
/crane
/crawler
/fish
/fishweb
/human
/keys
/leds
/noleds
/record
.sass-cache/
_site/
/beatboxer_leds.log
/beatboxer_noleds.log
/beatboxer_leds
/beatboxer_noleds

# for scorpio
__pycache__/
*.pyc
.DS_Store
.venv/
